<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LightZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <LightZ.Properties.Settings>
            <setting name="LedStripMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="Monitor" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualBrightness" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="HorizontalLeds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VerticalLeds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LedStripMonitorPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </LightZ.Properties.Settings>
    </userSettings>
</configuration>
